/*Fuentes*/
$font1: 'Kaushan Script',
cursive;
$font2: 'Press Start 2P',
cursive;
$font3: 'Caveat',
cursive;
$font4: 'Secular One',
sans-serif;
$font5: 'Raleway',
sans-serif;
$font6: 'Raleway',
sans-serif;
/*PaLeta de Colores */
$color1: #A3001D;
$color2: #fff;
$color3: #000;
$color4: #838384;
$color5: #C55A5A;



.slick-prev{
    
}

.row{
    width: 100%;
}

.slick-next{
    right: 0px;
    font-size: 0px;
}

.slick-next:before{
    font-size: 0px;
}

.container-fluid{
    padding-right: calc(var(--bs-gutter-x) * .0);
    padding-left: calc(var(--bs-gutter-x) * .0);
}

//card//
@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

:root {
    --card-height: 51vh;
    --card-width: calc(var(--card-height) / 1.5); }


// .card-magic {
//     min-height: 100vh;
//     background: #212534;
//     display: flex;
//     align-items: center;
//     flex-direction: column;
//     padding-top: 2rem;
//     padding-bottom: 2rem;
//     box-sizing: border-box;
// }

*, ::after, ::before{
    box-sizing: content-box;
}

.row{
    justify-content: center;
}

.card2 {
    background: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
    // background: #191c29;
    width: var(--card-width);
    height: var(--card-height);
    margin: 20px;
    padding: 3px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 1.5em;
    color: rgba(20, 20, 20, 0);
    cursor: pointer;
    font-family: $font4;
}

.card2:hover {
    color: rgb(82, 190, 240);
    transition: color 1s;
}

.card2:hover:before, .card:hover:after {
    opacity: 0;
    transition: all 300ms ;
}

.card2::before {
    content: "";
    width: 103%;
    height: 101.8%;
    border-radius: 8px;
    background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    top: -0.8%;
    left: -1.5%;
    animation: spin 2.5s linear infinite;
    opacity: 1;
    transition: all 800ms ;
}

.card2::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
    transition: opacity 1.5s;
    animation: spin 2.5s linear infinite;
}


@keyframes spin {
    0% {
    --rotate: 0deg;
    }
    100% {
    --rotate: 360deg;
    }
}

  ////card magic prueba/

.slick-slide{
    max-height: 1050px;
}

.ol, ul {
    padding-left: 0;
}

.slick-dots li button:before{
    color: #fff;
    font-size: 16px;
}

.slick-dots {
    bottom: 50px;
}


body {
    padding: 0;
    margin: 0;
    background-color: black;
}

.jumbotron{
    max-width: 100%;
}

.product-image{
    width: 18rem;
    height: 15rem;
}

.navbar-nav .nav-link.active{
    color: azure;
}

.nav-link{
    color: azure;
}

.navbar-brand{
    color: white;
}

.d-flex {
    display: flex;
}

.bg-dark{
    background-color: transparent;
}

///Carrito///
.fa-cart-shopping {
font-size: 2rem;
margin: 1em 4em 0;
color: white;
position: relative;
cursor: pointer;
}

.cart-quantity {
color: red;
background-color: white;
padding: .2em .3em;
position: absolute;
margin: .8em 7.5em 0 0;
right: 0;
border: solid 2px white;
border-radius: 15px;
font-weight: bolder;
}

.cart-modal-overlay {
position: fixed;
width: 100vw;
height: 100%;
z-index: 2;
transform: translateY(-200%);
transition: .5s ease-out;
}

.cart-modal-overlay.open {
transform: translateY(0%);
}

.cart-modal {
height: 100vh;
width: 50%;
background-color: black;
float: right;
overflow: scroll;
overflow-x: hidden;
}

#close-btn {
font-size: 1.5rem;
float: right;
margin: .5em 2em 0 0;
color: white;
cursor: pointer;
}

.cart-is-empty {
color: white;
text-align: center;
font-size: 1.5rem;
margin-bottom: 1em;
display: none;

}

.total {
text-align: center;
margin: 2em 0 2em 0;
/*   display: none; */
}

.cart-total {
color: white;
}

.total-price {
color: white;
font-size: 2rem;
display: block;
}

.purchase-btn {
font-size: 1rem;
font-weight: bolder;
background-color: green;
color: white;
padding: 1em 2em;
border-radius: 10px;
outline: none;
border: none;
cursor: pointer;
margin: 2em 0 1em 0;
}

.product-rows {
margin-top: 3em;
width: 95%;
margin-left: auto;
margin-right: auto;

}

.product-row {
display: flex;
align-items: center;
}

.product-cart-image {
width: 10rem;
margin: 1em;
}

.cart-price {
color: white;
font-size: 1.1rem;
font-weight: bolder;
align-self: center;
}

.product-quantity {
width: 4rem;
font-size: 2rem;
margin-left: 3rem;
}

.remove-btn {
padding: 1em 1em;
background-color: red;
color: white;
border-radius: 10px;
cursor: pointer;
font-weight: bolder;
font-size: 1rem;
height: 50px;
align-self: center;
text-align: center;
}

.remove-btn:active {
transform: translateY(5px);
}


.card{
    background-color: black;
    color: white;
}


.name-product-cart{
    color: white;
}

.cantidad-product{
    color: white;
}

//Formulario//

.login-box {
    position: relative;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, 1%);
    background: rgba(51, 50, 50, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(39, 26, 218, 0.6);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: $color2;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: white;
    font-size: 12px;
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: $color2;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.login-box a:hover {
    background: $color1;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px $color1,
        0 0 25px $color1,
        0 0 50px $color1,
        0 0 100px $color1;
}

.login-box a span {
    position: absolute;
    display: block;
}

.login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, $color4);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, $color4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, $color4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, $color4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}

textarea {
    resize: none;
    background: transparent;
    color: white;
    width: 310px;
    height: 200px;
    border-radius: 10px;
    font-weight: 700;
    padding: 5px;
    border-color: $color2;
}
